@model RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RegistrationForm_v5 by Colorlib</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
	<link rel="stylesheet" href="~/colorlib-regform-21/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

		<!-- STYLE CSS -->
	<link rel="stylesheet" href="~/colorlib-regform-21/css/style.css">
	</head>

	<body>
		<div class="wrapper">
			<div class="inner">
				<form asp-action="Signup" method="post">
					<h3>OneMusic Kayıt Formu</h3>
					<div class="form-wrapper">
						<label for="" class="label-input">Ad</label>
					<input type="text" class="form-control" asp-for="Name" required>
					</div>
					<div class="form-wrapper">
					<label for="" class="label-input">Soyad</label>
					<input type="text" class="form-control" asp-for="Surname" required>
					</div>
					<div class="form-wrapper">
						<label for="" class="label-input">E-Mail</label>
					<input type="email" class="form-control" asp-for="Email" required>
					</div>
					<div class="form-wrapper">
						<label for="" class="label-input">Kullanıcı Adı</label>
					<input type="text" class="form-control" asp-for="UserName" required>
					</div>
					<div class="form-wrapper">
					<label for="" class="label-input">Şifre</label>
					<input type="password" class="form-control" asp-for="Password" required>
					</div>
				<div class="form-wrapper">
					<label for="" class="label-input">Şifre Tekrar</label>
					<input type="password" class="form-control" asp-for="ConfirnPassword" required>
				</div>

				<div style="color:red">
				@Html.ValidationSummary()	
				</div>

					<button>Kayıt Ol</button>
				</form>
				<div class="image-holder">
				<img src="https://media.timeout.com/images/106090390/750/422/image.jpg" alt="" style="width:540px;height:460px">
				</div>
			</div>
		</div>

	<script src="~/colorlib-regform-21/js/jquery-3.3.1.min.js"></script>
	<script src="~/colorlib-regform-21/js/main.js"></script>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
