@model OneMusic.WebUI.Controllers.AlbumsByArtistViewModel
@{
    ViewData["Title"] = "AlbumByArtist";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h3>Albumler</h3>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Albüm Resmi</th>
            <th>Albümün İsmi</th>
            <th>Şarkılara Bak</th>
        </tr>
    </thead>
    <tbody>
        @for (int i=0; i<Model.Albums.Count; i++)
        {
            var album = Model.Albums[i]; // var album= Model.Albums[i] ifadesi, her döngü adımında album adlı bir değişken olusturur. Bu, kodu daha okunabilir hale getirir çünkü her seferinde Model.Albums[i] yazmak yerine sadece album yazmam yeterli olur.
            <tr>
                <td>@(i+1)</td>
                <td>
                    <img src="@album.CoverImage" alt="Albüm Resmi" style="height:50px; width:50px"/>
                </td>
                <td>@album.AlbumName</td>
                <td><a href="/AdminAlbum/GetSongsByAlbumId?albumId=@album.AlbumId" class="btn btn-outline-info">Şarkıları Gör</a></td>
            </tr>
        }
    </tbody>
</table>
