@model Album
@{
    ViewData["Title"] = "CreateAlbum";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Albüm Oluşturma Sayfası</h3>
<form method="post">
    <label>Resim Url</label>
    <input type="text" asp-for="CoverImage" class="form-control" />
    <br />
    <label>Albüm Adı</label>
    <input type="text" asp-for="AlbumName" class="form-control" />
    <br />
    <label>Şarkıcı</label>
    <label asp-for="AppUserId" class="control-label">Şarkıcı</label>
    <select asp-for="AppUserId" class="form-control" asp-items="ViewBag.Singers"></select>
    <span asp-validation-for="AppUserId" class="text-danger"></span>
    <br />
    <label>Album Kategorisi</label>
    <select asp-for="CategoryId" class="form-control" id="categoryId">
        <option value="">Kategori Seçiniz</option>
        @foreach (var category in ViewBag.CategoryList)
        {
            <option value="@category.Value">@category.Text</option>
        }
    </select>
    <br />
    <label>Fiyat</label>
    <input type="text" asp-for="Price" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>

